.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.rows {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.row {
  display: flex;
}

.row > div {
  flex-grow: 1;
  flex-basis: 0;
  margin-right: 115px;
}

.row > div:first-child {
  margin-right: 30px;
  flex-basis: 400px;
  max-width: 400px;
}

.row > div:last-child {
  margin-right: 0;
}

.button {
  width: 274px;
  margin-left: auto;
}
