.container {
  min-height: 100dvh;

  display: flex;
  flex-direction: column;
}

.container .content {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
}

.container .content .loading {
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}
