.container {
  max-width: 760px;
  padding: 15px 20px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.container > .title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
  color: #334155;
}

.name_container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.name_container .input_container {
  flex-grow: 1;
  max-width: 450px;
}

.name_container .input_wrapper {
  padding: 6px 10px;
}

.name_container .actions {
  display: flex;
  gap: 10px;
}

.name_container .actions span {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 2px;
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 12px;
  font-weight: 300;
  color: #334155;
}

.name_container .actions span.error {
  pointer-events: none;
  color: red;
  text-decoration-color: red;
}

.steps {
  margin: 17px 0 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add_step {
  margin: 0 auto;
  font-size: 13px;
  font-weight: 300;
  color: #334155;
  text-decoration: underline;
  text-underline-offset: 2px;
  cursor: pointer;
  user-select: none;
}
