.container {
  height: 50px;
  width: 100%;
  max-width: 720px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  background: #e2e8f0;
  border-radius: 8px;
}

.input_container {
  flex-grow: 1;
  max-width: 365px;
  background: #f8fafc;
  padding: 7px 10px;
  border-radius: 6px;
}

.input {
  padding: 0;
  border-radius: 0;
  border: none;
  background: transparent;
}

.input,
.input::placeholder {
  font-family: "Inter";
  font-size: 12px;
  font-weight: 600;
}

.button {
  padding: 0;
  width: 139px;
  font-size: 14px;
  font-weight: 600;
}
