.sortFilter {
    display: flex;
    gap: 3px;
    justify-content: end;
    font-weight: 600;
    font-size: 8px;
    line-height: 100%;
    color: #64748B;
}

.pointerContainer {
    display: flex;
    gap: 1px;
}

.clicked {
    color: #334155;
}