.ul {
    margin-top: 15px;
    display: flex;
    list-style-type: none;
    gap: 50px;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    color: #9F9F9F;
    border-bottom: 1px solid #D9D9D9;
    padding-left: 40px;
}

.ul li {
    cursor: pointer;
}

.li {
    border-bottom: 1px solid #334155;
    color: #334155;
    font-size: 18px;
    padding-bottom: 12px;
    line-height: 100%;
}